@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
    overflow: hidden;
    ::-webkit-scrollbar {
      display: none;
  }
  }
  body {
    overflow-y: scroll;
    background-color: #e5e5f7;
    opacity: 1;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 1px, #121212 1px, #121212 35px );
  }
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}